* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}
/* shared styles */
.text-primary {
  color: #e95a08;
}
/* header styles */
header {
  width: 1140px;
  margin: 0 auto;
}
/* navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
nav img {
  width: 135px;
}
nav ul {
  display: flex;
  gap: 48px;
  font-family: "Inter", sans-serif;
}
nav ul li {
  list-style: none;
}
nav ul li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav li a {
  text-decoration: none;
  color: #8987a1;
}
nav ul img {
  width: 28px;
}
nav .home {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}
/* banner styles */
.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 280px;
}
.banner-left {
  width: 570px;
}
.banner-left h2 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.banner-left p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.banner-right {
  width: 570px;
  margin-top: -50px;
}
.navbar-mobaile {
  display: none;
}

/* main styles */
main {
  width: 1140px;
  margin: 0 auto;
}
/* section */
.plants {
  text-align: center;
  margin-top: 120px;
}
.plants h3 {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.plants p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  text-align: center;
  margin: 16px auto;
}
/* cards styles */
.flower-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-top: 50px;
}
.card{
  width: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
}
.card-title{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #111111;

}
.card-priz{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.card button{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E95A08;
  padding: 19px 40px;
  border:none;

}

/* flower-lover section styles */
.flower-lover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}
.container{
  width: 540px;
  margin-left: 60px;
}
.flower-lover img{
  width: 540px;
  margin-right: 60px;
}
.container h3{
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: #000000;

}
.container ul li{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  header {
    width: 393.18px;
  }
  .banner {
    flex-direction: column;
    margin-top: 80px;
  }
  /* nav ul li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
} */
 nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
 }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobaile {
    display: flex;
    width: 98%;
    margin: 13px auto 0;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right img {
    max-width: 405px;
  }
  .banner-left {
    padding: 28px 16px;
    width: 387px;
  }
  .banner-left h2 {
    font-family: "Noto Serif", serif;
    font-size: 1.75rem;
    font-weight: bold;
    width: 361px;
  }
  .banner-left p {
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    margin-right: 0;
  }

  nav img {
    width: 63px;
  }
  /* main */
  main{
    width: 362px;
  }
  .flower-cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .card{
    width: 171px;
  }
  .plants{
    margin-top: 65px;
  }
  .plants h3{
    font-size: 24px;
    font-weight: bold;
  }
  .plants p{
    width: 336px;
    font-size: 14px;
    font-weight: 400;
  }
  /* flower-lover section  */
  .flower-lover {
    flex-direction: column;
    margin-top: 40px;
  }
  .flower-lover img{
    margin-right: 0;
    width: 361px;
  }
 .container{
    margin-left: 0px;
    width: 355px;
  }
  .container h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 18px;
  }
  .container ul li{
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
  }
}
