* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
  margin-bottom: 5rem;
}
/* shared styles */
.text-primary {
  color: #e95a08;
}
.width-1 {
  width: 1140px;
  margin: 0 auto;
}
.width-2 {
  max-width: 1440px;
  margin: 0 auto;
}

/* navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
nav img {
  width: 135px;
}
nav ul {
  display: flex;
  gap: 48px;
  font-family: "Inter", sans-serif;
}
nav ul li {
  list-style: none;
}
nav ul li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav li a {
  text-decoration: none;
  color: #8987a1;
}
nav ul img {
  width: 28px;
}
nav .home {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}
/* banner styles */
.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 280px;
}
.banner-left {
  width: 570px;
}
.banner-left h2 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.banner-left p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.banner-right {
  width: 570px;
  margin-top: -50px;
}
.navbar-mobaile {
  display: none;
}

/* section */
.plants {
  text-align: center;
  margin-top: 120px;
}
.plants h3 {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.plants p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  text-align: center;
  margin: 16px auto;
}
/* cards styles */
.flower-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-top: 50px;
}
.card {
  width: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
}
.card-title {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #111111;
}
.card-priz {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.card button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 40px;
  border: none;
}

/* flower-lover section styles */
.flower-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}
.container {
  width: 540px;
  margin-left: 60px;
}
.flower-lover img {
  width: 540px;
  margin-right: 60px;
}
.flower-lover div:first-child {
  position: relative;
}
.flower-lover div img:last-child {
  width: 286px;
  position: absolute;
  top: -130px;
  right: -130px;
  background: none;
}
.container h3 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
.container ul li {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

/* latest-deals section style */
.latest-deals {
  text-align: center;
  margin-top: 130px;
}
.latest-deals h3 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}
.latest-deals p {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  margin: 16px auto;
}
/* plant cards */
.plant-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  color: #ffffff;
}
.plant-card-right h4 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 15px auto;
}
.plant-card-right h3 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  font-weight: bold;
}
.plant-card-right {
  width: 753px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  border-radius: 22px;
}
.plant-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  margin-right: 28px;
  width: 367px;
}
.bloom-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
}
.bloom-plant h4,
.ana-plant h4 {
  font-size: 20px;
  font-weight: bold;
}
.bloom-plant h5,
.ana-plant h5 {
  font-family: "Inter", sans-serif;
  font-weight: 1rem;
  font-weight: 600;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 15px auto;
}
.ana-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/deal-ana.png");
  border-radius: 14px;
}
/* subscribe section styles */
.subscribe {
  background-image: url("../assets/news-letter-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 533px;
  margin-top: 120px;
}
.subscribe div div:last-child {
  display: flex;
  gap: 0;
}
.subscribe h2 {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  width: 586px;
  margin: 23px auto;
}
.subscribe input {
  width: 644px;
  padding: 16px 20px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 16px;
}
.subscribe button {
  background-color: #e95a08;
  color: white;
  padding: 16px 53px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

/* footer section styles */
.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}
.footer-1 {
  width: 359px;
}
.footer-1 p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.footer-2 {
  display: flex;
  gap: 85px;
}

.anchor-1 ul,
.anchor-2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.anchor-1 li,
.anchor-2 li {
  list-style: none;
}
.anchor-1 a,
.anchor-2 a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(107, 114, 128, 1);
}
.footer-3 {
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: start;
}
.footer-3 img {
  width: 36px;
}

@media screen and (max-width: 576px) {
  header {
    width: 393.18px;
  }
  .banner {
    flex-direction: column;
    margin-top: 80px;
    width: 361px;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobaile {
    display: flex;
    width: 361px;
    margin: o auto;
  }
  .banner-right {
    width: 100%;
  }
  .banner-right img {
    width: 394px;
  }
  .banner-left {
    width: 361px;
    margin-top: 28px;
    margin-left: 16px;
  }
  .banner-left h2 {
    font-family: "Noto Serif", serif;
    font-size: 1.75rem;
    font-weight: bold;
    width: 361px;
  }
  .banner-left p {
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    width: 360px;
  }

  nav img {
    width: 63px;
  }
  /* main */
  main {
    width: 362px;
  }
  .flower-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 362px;
    margin-left: 32px;
  }
  .card {
    width: 171px;
  }
  .width-1 {
    width: 361px;
  }
  .plants {
    margin-top: 65px;
    width: 361px;
    margin-left: 32px;
  }

  .plants h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .plants p {
    width: 336px;
    font-size: 14px;
    font-weight: 400;
  }
  /* flower-lover section  */
  .flower-lover div img:last-child {
    display: none;
  }
  .flower-lover {
    flex-direction: column;
    margin-top: 40px;
    width: 361px;
    margin-left: 32px;
  }

  .flower-lover img {
    margin-right: 0;
    width: 361px;
  }
  .container {
    margin-left: 0px;
    width: 355px;
    margin-left: 32px;
  }
  .container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
  }
  .container ul li {
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
  }
  /* plant-cards styles */
  .latest-deals {
    width: 393px;
    margin-left: 20px;
  }
  .latest-deals h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .latest-deals p {
    width: 336px;
    font-size: 14px;
    font-weight: 400px;
  }
  .plant-cards {
    flex-direction: column;
    width: 361px;
    margin-left: 32px;
  }

  .plant-card-right {
    width: 367px;
    border-radius: 14px;
    margin-top: 20px;
  }
  .plant-card-right {
    height: 178px;
  }
  .plant-card-right h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .plant-card-right h4 {
    font-size: 16px;
    font-weight: 600;
  }
  .plant-cards {
    margin-top: 50px;
  }
  /* subscribe  */

  .subscribe {
    width: 430px;
    height: 276px;
    background-position: center;
    background-size: cover;
  }
  .subscribe h2 {
    width: 235px;
    font-size: 20px;
    font-weight: bold;
  }
  .subscribe input {
    width: 218px;
    font-size: 1rem;
    font: 400;
  }
  .subscribe button {
    width: 103px;
    font-size: 1rem;
    font-weight: 600;
    padding: 19px 12px;
  }
  /* footer */
  .footer-container {
    flex-direction: column;
  }
  .footer-1 p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
  }
  .footer-2 {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .footer-3 {
    margin-top: 20px;
  }
}
